nav {
  background-color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(193, 180, 180, 0.61);

}
nav a{
  color: #000;
}

.logo-companyname {
  display: flex;
  align-items: center; 
  cursor: pointer;
}


.navicon {
  margin: 0 1vw 0 3vw;
  width: 2.6vw;
  height: 2.6vw;

}
.company-name{
  font-size: 1.35vw;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

.nav-div1{
  font-size: 1.3vw;
  margin-left: 60vw;
}
.nav-div2{
  margin-left: 5vw;
  font-size: 1.3vw;
}

.nav-div2 a , .nav-div1 a{
  color: black;
}

.logo {
  display: none;
}


@media (max-width: 875px) {

  .profile-div,
  .link-list {
    display: none;
  }

  nav {
    justify-content: flex-start;
  }

  .navicon {
    margin: 0 2vw 0 4vw;
    width: 8vw;
    height: 8vw;
  
  }

  .logo {
    all: unset;
    width: 25vw;
    height: 8vw;
    margin: 0 20px ;
    margin-top: -7px;
  }

  .checkbtn {
    display: flex;
    font-size: 1.6rem;
    margin-left: 15px;
    cursor: pointer;
  }


}