.nav-div{
  background-color: #fff; 
  box-shadow: 2px 2px 2px 2px rgba(193, 180, 180, 0.61);
}

nav {
  background-color: #fff;
  height: 55px;
  width: 86%;
  margin: 0 0% 0 8%;
  display: flex;
  align-items: center;

}
nav a{
  color: #000;
}

.logo-companyname {
  display: flex;
  align-items: center; 
  cursor: pointer;
}


.navicon {
  margin: 0 1vw 0 0;
  width: 2.4vw;
  height: 2.4vw;

}
.company-name{
  font-size: 1.55vw;
  font-family: 'Alegreya', serif;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

.nav-div1{
  font-size: 1.45vw;
  margin-left: 56%;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif, Arial, sans-serif;
  justify-self: flex-end;
}
.nav-div2{
  margin-left: 7%;
  font-size: 1.45vw;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif, Arial, sans-serif;
}
.nav-div3{
  margin-left: 7%;
}
.nav-div3 a {
  font-size: 2rem;
   color: #0b9810;
}


.nav-div4{
  margin-left: 60%;
}

 .nav-div4 a{
  font-size: 1.4rem;
  color: #0b9810;
}

.nav-div2 a , .nav-div1 a{
  color: black;
}

.logo {
  display: none;
}


@media (max-width: 875px) {

  .profile-div,
  .link-list {
    display: none;
  }

  nav {
    justify-content: flex-start;
  }

  .navicon {
    margin: 0 2vw 0 4vw;
    width: 8vw;
    height: 8vw;
  
  }

  .logo {
    all: unset;
    width: 25vw;
    height: 8vw;
    margin: 0 20px ;
    margin-top: -7px;
  }

  .checkbtn {
    display: flex;
    font-size: 1.6rem;
    margin-left: 15px;
    cursor: pointer;
  }


}