.profile-main-div{
    display: flex;
    margin: 4% 8%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 3px 3px rgba(75, 70, 70, 0.321);
}

.profile-btn{
    all:unset;
    display: inline-block;
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: #0b9810;
    width: 175px;
    height: 50px;
    border: 1px solid #0b9810;
    border-radius: 15px;
    color:#fff;
    font-size: 1.2rem;
    margin: 20px 0;
    

}