.profile-main-div{
    display: flex;
    padding: 10% 20% 30% 20%;
    justify-content: space-between;
}

.profile-btn{
    all:unset;
    display: inline-block;
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: #0b9810;
    width: 175px;
    height: 50px;
    border: 1px solid #0b9810;
    border-radius: 15px;
    color:#fff;
    font-size: 1.2rem;
    margin: 20px 0;
    

}