.img-form-main{
    display: flex;
    margin: 0vh 15vw 8vw 15vw; 
    padding-top: 8vw;
    height: 45vw;
   
}

.img-form{
    width: 45%;
    height: 100%; 
    border-radius: 15px 0 0 15px;
}

.auth-wrapper{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 55%; 
    height: 100%;
}
.wrapper2{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 4vh 0 2vh 0;

    
}
.wrapper3{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 7vh 0 2vh 0;

    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0 15px 15px 0;
    background-color:#fff;

}

.form-heading{
   font-size: 1.3rem;
   margin-bottom: 50px;
   font-weight: 600;
}

.form button , .form2 button , #order{
    display: inline-block;
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: #0b9810;
    width: 35%;
    height: 33px;
    border: 1px solid #0b9810;
    border-radius: 15px;
    color:#fff;
    font-size: 1.2rem;
    margin: 20px 0;
    
}

.auth-form-label{
    display: inline-block;
    all: unset;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.435);
    margin: 0 0 25px 0;
    align-self: flex-start;
    margin-left: 20%;
    width: 60%;
    height: 28px;
    border-bottom: 1px solid #0b9810;
    
}
.auth-form-input {
     all: unset;
    display: inline-block;
    padding-left: 10px;
    margin: 0 0 20px 0;
    /* width: 100%; */
    font-size: 0.9rem;
}
#fpass{
    font-size: 1.05rem;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 30%;
    color: blue;
}
.auth-link{
    font-size: 1.1rem;
    color: blue;
}
#warn-message{

    font-size: 1.1rem;
    color: rgb(241, 10, 10);
    margin-bottom: 10px
}
.form-bottom-text{
    margin-top: 20px;
}


#auth-otp-label{
margin: 30px 0 30px 0;
font-size: 1.5rem;
}
#auth-otp-para{
margin-left: 20px;
}
#auth-otp-email{
    color:blue;
}
.buy-title{
 font-size: 1.5rem;
}

.otp{
    padding-left: 140px;
}

@media (max-width:500px) {

    .form{
        width: 90vw;
        height: 90vw;
    }
    .form input{
        width:70vw;
        height: 30px;
        margin: 5px 10px;

    }
    .form label{
        padding: 0 15px;
       
    }
    #fpass{
        font-size: 1.05rem;
       padding-left: 35px;
    }
    .form button{
        margin-left: 24px;
        width:70vw;
        height: 30px;
        margin: 5px 10px;
    }
    .form p{
        padding-left: 2.5vw;
    }
    #auth-otp-label{
        margin: 0 0 15px 15px;
        font-size: 1.3rem;
        }
    #auth-otp-para{
            margin: 10px  0 0 0;
        }
}

