.main-userlist {
   background-color: rgb(239, 239, 239);
   padding: 0% 12%;
  
  
}

.userlist-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5%;
   
}

.userlist-div-name-img{
    display: flex;
    width: 70%;
    margin: 1% 0% 1% 0%;
    align-items: center;
    justify-content: space-around;
}

.userlist-struct-div1{
    display: flex;
    width: 75%;
    padding: 1% 0 1% 7%;
    flex-direction: column;
    
    justify-content: space-around;
}

.userlist-struct-div2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.userlist-struct-main-div{
    background-color: rgb(255, 252, 252);
    width: 90%;
    height: 17vw;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    box-shadow: 0px 3px 3px 3px rgba(75, 70, 70, 0.321);
    font-size: 1.1rem;
    align-self: center;
    border-radius: 15px;
}

.userlist-struct-infraimg{
    width: 85%;
    height:85%;
    margin-right: 5%;
    border-radius: 5%;

}
.userlist-struct-profileimg{
    width: 20%;
    cursor: pointer;
    border-radius: 50%;
}

.userlist-div-title{
    font-size: 1.6rem;
    padding: 4% 40%;
    font-weight: 500;

}

.purchase-btn{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: #0b9810;
    border: 1px solid #0b9810;
    border-radius: 0.5vw;
    color:#fff;
    font-size: 1.1rem;
    width: 30%;
    height: 2.5vw;
    align-self: flex-end;
}
.userlist-div-btn{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    height: 20%;
}

.userlist-div-btn div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.userlist-struct-owner-name{
    margin-bottom:  3%;
}
.userlist-div-address{
    font-size:1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    height: 20%;
}
