.main-userlist {
   background-color: rgb(239, 195, 195);
   margin: 5% 10%;
}

.userlist-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}

.userlist-div-name-img{
    display: flex;
    width: 70%;
    margin: 2% 5% 2% 5%;
    align-items: center;
}

.userlist-struct-div1{
    display: flex;
    width: 60%;
    padding: 2% 5%;
    flex-direction: column;
    
    justify-content: space-around;
}

.userlist-struct-div2{
    display: flex;
    align-items: flex-end;
}

.userlist-struct-main-div{
    background-color: #fff;
    width: 90%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
    box-shadow: 3px 3px 3px 3px rgba(75, 70, 70, 0.321);
    font-size: 1.1rem;
    align-self: center;
}

.userlist-struct-infraimg{
    width: 90%;
    height: inherit;
    margin-left:55% ;

}
.userlist-struct-profileimg{
    width: 25%;
    margin-right:30% ;
    cursor: pointer;
}

.userlist-div-title{
    font-size: 1.5rem;
    margin-left: 45%;
    margin-top: 5%;
}
